.vs/
.next/
.output/
/[Bb]in/
/[Bb]uild/
/[Oo]bj/
/[Oo]ut/
/[Tt]arget/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
